  .container {
    position: relative;
    height: 36px;
  }

  .containerOpen {
    
  }
  .containerOpen:after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 11px;
    top: 14px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
    border-style: solid;
  }
  .input {
    height: 34px;
    border-radius: 5px;
    border: solid 1px #ccc;
    line-height: 2.428;
    width: calc(100% - 12px);
    padding: 0;
    margin: 0;
    padding-left: 10px;
    font-size: 1rem;
  }
  .inputOpen {}
  .inputFocused {}
  .suggestionsContainer {
  }
  .suggestionsContainerOpen {
    position: relative;
    z-index: 20;
    background: #fff;
    width: 100%;
    max-height: 198px;
    border: solid 1px #ccc;
    border-radius: 0 0 2px 2px;
    overflow-y: auto;
    text-align: left;
  }
  .suggestionsContainerOpen ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .suggestionsList {}
  .suggestion {
    padding-left: 10px;
    line-height: 2.071;
    font-size: .8rem;
  }
  .suggestionFirst {}
  .suggestionHighlighted {
    background: #f2f9fc;
  }
  .sectionContainer {}
  .sectionContainerFirst {}
  .sectionTitle {}