.section {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nanum Gothic';
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	> div {
		width: 100%;
		max-width: 600px;
		padding: 5%;

		img {
			width: 80px;
		}

		h4 {
			font-weight: normal;
			font-size: 1.4rem;
			font-family: 'InkLipquid';

			span {
				vertical-align: middle;
			}

		}

		h1 {
			font-family: 'NanumSquare';
			font-size: 2.4rem;
			// margin: 0 5%;
			font-weight: bold;
			line-height: 1.4;
			letter-spacing: 0rem;
			word-spacing: 0.1rem;
			word-break: keep-all;
		}

		p {
			font-size: .8rem;
			margin: 2rem 10% 0 10%;
			color: #666;
			line-height: 1.5;
		}

		button {
			cursor: pointer;
			margin-top: 5rem;
			font-size: 1rem;
			padding: 1rem;
			background-color: #ccc;
			border: none;
			border-radius: 1.5rem;
			color: white;
		}

		button:active,
		button:hover {
			background-color: #aaa;
		}

		> div {
			margin-top: 3rem;
			> div {
				font-size: .9rem;
			}
		}
	}
}