@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css); .nanumsquare { font-family: 'NanumSquare', sans-serif !important; }
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); .jejugothic * { font-family: 'Jeju Gothic', sans-serif; }
@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'designhouseOTFLight00'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css); .nanummyeongjo * { font-family: 'Nanum Myeongjo', serif; }

html, body {
	margin: 0;
	padding: 0;
	font-family: 'NanumSquare';
	// overflow: hidden;
	position: relative;
}

// body, html { 
//     overflow-x: hidden; 
//     overflow-y: auto;
//     position: fixed;
// }

body.onMobileMenuDisplaying {
	overflow: hidden;
}

input {
	-webkit-appearance: none;
}
