@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

.section {
	background-color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	font-family: NanumSquare;
	padding: 60px 0;
	margin: 3rem 0;

	>h1 {
		font-family: 'InkLipquid';
		font-weight: normal;
		font-size: 1.4rem;
		margin-bottom: 1rem;
	}

	>h3 {
		font-size: 1.2rem;
		margin: 3rem 0 1rem 0;
		border-bottom: 3px solid #eee;

		&:nth-child(2) {
			margin: 3rem 0 2rem 0;
		}
	}
	
	.recent {
		height: 30vw;
		max-height: 152px;
		width: 90%;
		max-width: 730px;
		border: 1px solid #eee;
		border-radius: 5px;
		box-shadow: 1px 1px 0 #eee;
		background-color: #f8f9f8;

		ul {
			li {
				display: inline-block;
				margin: 0;

				img {
					width: 100%;
				}
			}
		}

		// Left
		> div:nth-child(2) {
			left: -44px!important;

			@media screen and (max-width:820px) {
				display: none;
			}
		}

		> div:nth-child(3) {
			right: -44px!important;

			@media screen and (max-width:820px) {
				display: none;
			}
		}

		button {
			background: none;
			// height: 50px;
			// width: 20px;
			border: none;
			color: #aaa;
			
			&:hover {
				color: #333;
			}
		}

		.card {

			div {
				height: 148px;
				width: 100%;
				border-right: 1px solid #eee;
				position: relative;
				&:hover {
					background-color: white;
				}

				img {
					border-radius: 50%;
					object-position: 10% 10%;
					object-fit: cover;
					width: 3.6rem;
					height: 3.6rem;
					padding: .6rem;
				}

				// 이름
				h4 {
					margin: 0;
					font-size: 1rem;
					color: #333;
				}

				// 선택 답변
				p {
					margin: .3rem 0 0 0;
					font-size: .5rem;
					color: rgb(121, 163, 226);
					text-decoration: underline;
					// background-color: rgb(193, 206, 243);
					display: inline-block;
					padding: 2px 3px;
					border-radius: 3px;
				}

				// 응답보기 링크
				a {
					display: block;
					padding-top: .5rem;
					font-size: .7rem;
					color: #999;
					cursor: pointer;
				}

				// 응답시간
				small {
					position: absolute;
					top: 5px;
					right: 5px;
					font-size: .5rem;
					color: #ddd;
				}

				// 정당아이콘
				i {
					position: absolute;
					top: 5px;
					left: 5px;
					width: 30px;
					height: 30px;
					background-size: contain!important;
					background-repeat: no-repeat!important;
				}
			}
		}
	}

	.labelDesc {
		margin: .5rem;
		
		span {
			font-size: .6rem;
			display: inline-block;
			padding: .5rem;
		}

		&.vertical {
			span {
				padding: .2rem .5rem;
			}
		}
	}

	

	.all {
		width: 90%;
		max-width: 730px;
		padding: 0 1.5rem 1.5rem 1.5rem;
		background-color: #f8f9f8;
		@media screen and (max-width:820px) {
			padding: 0;
		}

		.party {
			padding-bottom: 2rem;

			.header {
				margin: 0;
				border-top: 1px solid #eee;
				padding: 2rem 0;

				img {
					width: '60px';
					max-height: '30px';
					object-fit: 'contain';
				}

				span {
					width: '60px';
					max-height: '30px';
					border-bottom: 3px solid #eee;
				}
			}

			&:first-child {
				.header {
					border: none;
				}
			}

			.body {

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						display: inline-block;
						font-size: .8rem;
						padding: .3rem;
						cursor: pointer;

						&:hover {
							background-color: #eee;
						}
					}
				}
			}
		}
	}
}

.reactModalPortal {
	position: relative;
	z-index: 1000;

	.contentBody {
		opacity: 0;
		width: 80%;
		max-width: 300px;
		margin: auto;
		background-color: white;
		padding: 20px;
		border-radius: 9px;
		box-shadow: 0 0 30px rgba(0,0,0,0.5);

		&.lazyFadeIn {
			animation-name: fadeIn;
			animation-duration: .5s;
			animation-fill-mode: both;
			animation-delay: .2s;
		}

		.respondBody {

			> div {

				&:first-child {
					width: 100%;
					position: relative;
					display: flex;
					flex-direction: row;

					img {
						border-radius: 50%;
						object-position: 10% 10%;
						object-fit: cover;
						width: 3.6rem;
						height: 3.8rem;
						padding: .6rem;
					}

					// 이름
					h4 {
						margin: 0;
						font-size: 1.1rem;
						color: #333;
						vertical-align: middle;
						display: flex;
						align-items: center;

						> div {
							> span {
								text-align: left;
								display: block;
							}
	
							> small {
								margin-top: 5px;
								display: block;
								position: initial;
							}
						}
					}

					// 응답시간
					small {
						position: absolute;
						top: 5px;
						right: 5px;
						font-size: .5rem;
						color: #ddd;
					}

					// 정당아이콘
					i {
						position: absolute;
						top: 5px;
						right: 5px;
						width: 45px;
						height: 30px;
						background-size: contain!important;
						background-repeat: no-repeat!important;
						font-size: .9rem;
					}
				}

				p {
					margin: .8rem 0 0 0;
					font-size: 1rem;
					line-height: 1.5;
					text-align: left;
				}

				small {
					display: block;
					margin-top: 10px;
					font-size: .8rem;
					color: #aaa;
				}
			}

		}

		.card {

			> div {

				&:first-child {
					width: 100%;
					padding-top: 1.5rem;
					position: relative;
					&:hover {
						background-color: white;
					}

					img {
						border-radius: 50%;
						object-position: 10% 10%;
						object-fit: cover;
						width: 6rem;
						height: 6rem;
						padding: .6rem;
					}

					// 이름
					h4 {
						margin: 0;
						font-size: 1.1rem;
						color: #333;
					}

					// 선택 답변
					p {
						margin: .8rem 0 0 0;
						font-size: .8rem;
						color: rgb(121, 163, 226);
						text-decoration: underline;
						// background-color: rgb(193, 206, 243);
						display: inline-block;
						padding: 2px 3px;
						border-radius: 3px;
					}

					// 응답보기 링크
					a {
						display: block;
						padding-top: .5rem;
						font-size: .7rem;
						color: #999;
						cursor: pointer;
					}

					// 응답시간
					small {
						position: absolute;
						top: 5px;
						right: 5px;
						font-size: .5rem;
						color: #999;

						strong {
							background-color: #aaa;
							border-radius: 3px;
							color: white;
							display: inline-block;
							padding: 2px 4px;
							margin-right: 3px;
						}
					}

					// 정당아이콘
					i {
						position: absolute;
						top: 5px;
						left: 5px;
						width: 45px;
						height: 30px;
						background-size: contain!important;
						background-repeat: no-repeat!important;
						font-size: .9rem;
					}
				}

				&.detailBox {
					> div {
						border-top: 1px solid #eee;
						margin: 15px 0;
						padding: 10px 0 0 0;
						text-decoration: none;
						color: #bbb;
						font-size: .9rem;

						> div {

							> div {
								padding: 10px 0;
							}
						}

						a {
							text-decoration: none;
							color: #bbb;
							
							svg {
								margin-right: 5px;
								width: 1.1rem;
								height: 1.1rem;
							}
						}

						i {
							font-size: 1.1rem;
							vertical-align: middle;
							color: #bbb;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	.modalButton {
		width: 44px;
		color: white;
		margin: 1rem auto auto auto;

		button {
			padding-top: 3px;
			border: 0;
			background: none;
			color: #aaa;
			cursor: pointer;

			&:hover {
				color: #999;
			}
			
			span {
				display: inline-block;
				font-size: .5rem;
			}
		}
	}

}