.section {
	background-color: #fff;
	text-align: center;
	display: blcok;
	justify-content: center;
	align-items: center;
	padding-top: calc(46px + 5%);
	padding-bottom: 5%;
	width: 100%;

	div.inputBox {
		width: 90%;
		max-width: 500px;
		margin: auto;
		position: relative;
		min-height: 1.5rem;

		input {
			width: 100%;
			height: 1.6rem;
			border: none;
			font-size: 1.2rem;
			border-bottom: 1px solid #eee;
		}

		i {
			position: absolute;
			right: 0;
			top: 0;
			width: 1.3rem;
			height: 1.3rem;
			padding: .2rem;
		}
	}

	div.resultBox {
		width: 90%;
		max-width: 500px;
		margin: 20px auto;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: .5rem;
				border: 1px solid #eee;
				border-radius: 5px;
				margin-bottom: .5rem;
				cursor: pointer;

				h4 {
					padding: 0;
    				margin: 5px 0 0 0;
				}

				p {
					padding: 0 1rem;
					margin: 10px 0 5px 0;
					font-size: .8rem;
					color: #aaa;
					word-break: keep-all;
				}
			}

			li:hover {
				background-color: #ededed
			}
		}
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
	opacity: 1; /* Firefox */
	text-overflow: ellipsis;
	font-size: .8rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eee;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #eee;
}