@keyframes show {
    from {opacity: 0}
    to {opacity: 1}
}

.section {
    background-color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
    overflow: visible;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
    font-family: NanumSquare;

    > div {
        flex-grow: 1;
        width: 100%;
        // height: 100%;
        display: none;
    }
    
    .step1Begin {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .step2Find {
        width: 100%;
        height: 100%;
    }

    .step3Send {
        width: 100%;
        height: 100%;
    }

    .step4login {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .step5done {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .active {
        display: block;
        animation-name: show;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}