.footer {
	min-height: 400px;
	background-color: #333;
	color: white;
	position: absolute;
	width: 100%;
	text-align: center;
	// background: linear-gradient(0deg,rgba(0,0,0,.5),#222),url(http://parkgeunhack.com/img/bg.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
	.top {
		position: absolute;
		top: 0;
		margin: auto;
		width: 100%;

		h1 {
			margin-top: 2rem;
			font-size: 1.2rem;
			color: #eee;
			font-weight: normal;
	
			.guktong {
				display: inline-block;
				color: #666;
				font-family: 'designhouseOTFLight00';
				font-weight: bold;
				font-size: 1.5rem;
				letter-spacing: -1px;
				text-shadow: 1px 1px rgba(0,0,0, 0.42);
				margin-right: 15px;
			}
			
			.pghack {
				border-left: 1px solid #444;
				padding-left: 15px;
				display: inline-block;
				color: #666;
				font-size: 1.2rem;
				font-family: 'Nanum Myeongjo', Serif;
			}	
		}
	}

	.bottom {
		position: absolute;
		bottom: 0;
		margin: auto;
		width: 100%;
		padding-bottom: 2rem;

		> div {
			padding-right: 5px;
		}
		
		iframe {
			vertical-align: middle;
			padding-bottom: 3px;
		}

		p {
			margin-top: 2rem;
			color: #666;
			font-size: .7rem;
	
			a {
				color: #888;
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			width: 70&;
			max-width: 500px;
			margin: auto;
			margin-top: 3rem;
			padding: 0 4rem;

			li {
				font-size: .7rem;
				line-height: 1.5;
				color: #666;
				word-break: keep-all;
			}
		}
	}
}

@media(max-width:768px) {

}
