.section {
	padding-top: 4rem;
	padding-bottom: 2rem;
	text-align: center;
	height: 100%;
	background-color: #f8f8f8;
	background-repeat: repeat;
	display: flex;
	justify-content: center;
	align-items: center;

	div {

		h1 {
			font-family: OTDaylightR;

			img {
				width: 10rem;
				border: 1px solid #eee;
			}
		}

		p {
			font-family: 'Nanum Myeongjo';
			margin-top: 4rem;
			margin-bottom: 4rem;
			padding: 0 3rem;
			font-size: 1rem;
			word-break: keep-all;
		}

		small {
			font-family: NanumSquare;
			color: #666;
			font-size: .8rem;
			margin: 1rem 0;
			width: 80%;
			display: block;
			margin: auto;
			line-height: 1.5;
			word-break: keep-all;

			strong {
				text-decoration: underline;
			}

			a {
				color: #aaa;
				text-decoration: none;
				display: block;
				margin-top: 5px;

				&:hover {
					text-decoration: underline;
				}

				span {
					&:hover {
						text-decoration: underline;
					}
					display: inline-block;
				}
			}
		}
	}
}

@media(max-width:768px) {
	.section {
		border-bottom: 3px solid #f56d6d;
	}
}