@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-20px) }
    60% {-webkit-transform: translateY(-10px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.lazyFadeIn {
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.bounce1 {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.bounce2 {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.bounce3 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}



.section {
	background-color: #eee;
	text-align: center;
	display: block;
	align-items: center;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	padding: 60px 0 0 0;
	position: relative;

	>h1 {
		display: block;
		font-family: 'InkLipquid';
		font-weight: normal;
		margin-bottom: 3rem;
	}

	>h4 {
		font-size: .8rem;
		color: #aaa;
		margin: 2rem 0;

		span {
			color: #333;
			font-size: 1rem;
		}
	}

	ul {
		margin: auto;
		padding: 0;
		list-style: none;
		width: 90%;
		max-width: 730px;

		li {
			background-color: white;
			padding: .8rem 2.5rem;
			line-height: 1.5;
			margin: 2px;
			text-align: center;

			&.newItem {
				opacity: 0;;
			}

			img {
				vertical-align: middle;
    			width: 15px;
				height: 15px;
				object-fit: contain;
			}

			> span {
				vertical-align: middle;
				margin-left: .5rem;
				font-size: .6rem;
				color: #666;
			}

			p {
				font-weight: bold;
				text-align: center;
				font-size: .8rem;

				span {
					max-width: 100%;
					display: inline-block;
					text-align: left; 
				}
			}

			small {
				vertical-align: middle;
				margin-left: .5rem;
				font-size: .6rem;
				color: #aaa;
			}
		}
	}

	.bottomDeco {
		margin-top: 4rem;
		padding-bottom: 1rem;
		width: 100%;
		bottom: 0;
		text-align: center;
		min-height: 5rem;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: flex-end;

		div {
			width: 90%;
			max-width: 300px;

			img {
				display: inline-block;
				width: .8rem;
				height: .8rem;
				margin: -.1rem;
			}

			img:nth-child(odd) {
				margin: .2rem;
				margin-top: -.2rem;
			}

			img:nth-child(even) {
			}
		}
	}
}