@keyframes showMenu {
    from {left: -50%}
    to {left: 0px}
}

@keyframes hideMenu {
    from {left: 0px}
    to {left: -50%}
}

@keyframes hideNav {
    from {background-color: rgba(0,0,0,0.5); opacity: 1;}
    to {background-color: rgba(0,0,0,0); opacity: 0;}
}

@keyframes showNav {
    from {background-color: rgba(0,0,0,0); opacity: 0;}
    to {background-color: rgba(0,0,0,0.5); opacity: 1;}
}

nav {
    pointer-events: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.nav {
    font-size: .8rem;
    position: relative;
    pointer-events: auto;

    ul {
        background-color: #f56d6d;
        position: relative;
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 1rem;
            display: inline-block;
            border-left: 1px solid #eb5e5d;
            color: rgba(255,255,255, 0.5);
            background-color: #f56d6d;
        }

        li:last-child {
            border-right: 1px solid #eb5e5d;    
        }

        li:hover {
            color: rgba(255,255,255, 1);
            cursor: pointer;
        }

        .mobileClose {
            display: none;
        }

        li.mobileOnly {
            display: none;
        }

        li.liActive {
            color: rgba(255,255,255, 1);
        }

        li.logo {
            font-family: 'designhouseOTFLight00';
            display: none;
            color: black;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: -1px;
            text-shadow: 1px 2px rgba(196, 27, 26, 0.42);
        }
    }

}

.mobileHeader {
    display: none;
    position: fixed;
    color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(201, 201, 201, 0.65);
    border-radius: 5px;
    pointer-events: auto;
    cursor: pointer;
}



@media(max-width:768px) {

    .nav {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 500;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        ul {
            pointer-events: auto;
            position: absolute;
            background-color: #f56d6d;
            display: none;
            width: 50%;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 101;

            li {
                display: block;
                border-bottom: 1px solid #eb5e5d;
                color: rgba(255,255,255, 0.8);
            }

            li.mobileOnly {
                display: block;
            }

            li.liActive {
                font-weight: bold;
            }

            li:last-child {
                border-right: none;
            }

            li.logo {
                display: block;
                position: relative;

                span:first-child {
                    display: none;
                    height: 4px;
                    background-color: #dc6060;
                    width: 96px;
                    margin: auto;
                }

                span:nth-child(2) {
                    display: none;
                    width: 100px;
                    margin: auto;
                    color: #b14d4d;
                    font-size: 7px;
                    letter-spacing: 2.9px;
                    text-shadow: none;
                    margin-top: 2px;
                    padding-left: 3px;
                    font-family: Verdana;
                    font-weight: normal;
                    text-align: center;
                }

                span.slogan {
                    
                }
            }

            .mobileClose {
                display: block;
                padding: 10px;
                font-size: 20px;
                position: absolute;
                right: -40px;
                top: 10px;
                color: white;
            }
        }

        .ulActive {
            display: block;
            animation-name: showMenu;
            animation-duration: 0.5s;
        }

        .ulInactive {
            display: block;
            animation-name: hideMenu;
            animation-duration: 0.5s;   
            left: -50%;
            pointer-events: none;
        }
    }

    .navActive {
        background-color: rgba(0,0,0, 0.5);
        animation-name: showNav;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        pointer-events: auto;
    }
    
    .navInactive {
        animation-name: hideNav;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        pointer-events: none;
    }

    .navActive .mobileHeader {
        display: none;
    }

    .mobileHeader {
        display: block;
    }
}