@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fadeOut {
    from { opacity: 1;}
    to { opacity: 0;}
}

@keyframes show {
    from {min-height: 0; opacity: 0;}
    to {min-height: 100px; opacity: 1;}
}

@keyframes hide {
    from {height: 100px; opacity: 1;}
    to {height: 0; opacity: 0;}
}

@media screen and (max-width:530px) {
	@keyframes show {
		from {min-height: 0; opacity: 0;}
		to {min-height: 150px; opacity: 1;}
	}
}

.section {
	background-color: #fff;
	text-align: center;
	display: block;
	padding-top: calc(46px + 5%);

	// 의원카드
	.card {
		width: 90%;
		max-width: 500px;
		margin: auto;
		border: 1px solid #eee;
		border-radius: 5px;

		> div:first-child {
			display: flex;
			justify-content: center;
			flex-direction: row;
			height: 4.8rem;
			border-bottom: 1px solid #eee;
			background-color: white;
			z-index: 10;
		}

		.detailBox {
			z-index: 9;
			opacity: 0;
			overflow: hidden;
			-webkit-transition: all .5s ease;
			animation-name: hide;
			animation-duration: .5s;
			animation-fill-mode: initial;
			font-size: .8rem;
			position: relative;

			&.active {
				display: block;
				animation-name: show;
				animation-duration: .5s;
				animation-fill-mode: both;
			}

			> div {
				opacity: 0;
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				width: 90%;
				margin: auto;
				position: 'absolute';
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				&.lazyActive {
					animation-name: show;
					animation-duration: .5s;
					animation-fill-mode: both;
					animation-delay: .5s;
				}

				a {
					color: #333;
					text-decoration: none;
				}

				> div:first-child {
					border-bottom: 1px solid #eee;

					@media screen and (max-width:530px) {
						span {
							// display: none;
						}
					}
				}

				> div {
					padding: .5rem 0;
					display: flex;
					flex-direction: row;

					> div {
						flex: 1;
						min-width: calc(30%);
						text-align: center;

						&:last-child:after {
							clear:both;
						}
					}

					&:nth-child(2) {
						@media screen and (max-width:530px) {
							flex-direction: column;
						}

						> div {
							@media screen and (max-width:530px) {
								min-width: calc(100% - 2rem);
							}
						}
					}

					i, svg {
						color: #aaa;
						width: 20px;
						height: 20px;
						vertical-align: middle;
						font-size: 20px;
						margin: 5px;
					}
				}
			}
		}

		.imgBox {
			flex: 1;

			img {
				border-radius: 50%;
				object-position: 10% 10%;
				object-fit: cover;
				width: 3.6rem;
				height: 3.6rem;
				padding: .6rem;
			}
		}

		.content {
			flex: 3;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: left;
			height: 100%;
			min-width: 0;

			h4 {
				color: black;
				font-size: 1rem;
				margin: 0;
				padding: 0;
			}

			p {
				text-align: left;
				margin: 3px 0 0 0;
				padding: 0;
				color: #aaa;
				font-size: .8rem;
				white-space: nowrap; 
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.buttonBox {
			flex: 2;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-end;
			text-align: right;
			height: 100%;

			button {
				margin: 10px;
				border: 1px solid #aaa;
				border-radius: 5px;
				font-size: .8rem;
				background-color: #aaa;
				color: white;
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				min-width: 105px;
				padding-top: 3px;
				padding-left: 0;
				padding-right: 0;
	
				i {
					color: white;
					width: .6rem;
					margin-right: 3px;
				}
			}
		}
	}

	.form {
		background-color: #efefef;
		width: 90%;
		max-width: 500px;
		margin: 1rem auto auto auto;
		border: 1px solid #eee;
		border-radius: 5px;
		padding-top: 20px;
		padding-bottom: 10px;
		position: relative;

		h4 {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;

			i {
				color: #fff;
				font-size: 36px;
			}
		}

		> div {
			padding: 1rem 0;

			small {
				font-family: 'InkLipquid';
				font-size: 1.2rem;
				border-bottom: 3px solid #dedede;
			}

			h3 {
				font-size: 2rem;
				margin-bottom: 3rem;
				text-shadow: 2px 1px 1px #fff;
			}
		}

		input[name=message] {
			width: 80%;
			background: white;
			border: 1px solid #fff;
			font-size: 1rem;
			padding: .5rem;
			color: black;
			border-radius: 5px;
		}

		.personal {
		
			width: 84%;
			margin: auto;

			> div {
				display: flex;
				flex-wrap: wrap;
				margin: 10px 0;
				justify-content: space-between;
			}

			.formTop {
				> div {
					flex-basis: 49%;
				}
			}

			.formBottom {
				> div {
					flex-basis: 49%;
				}
			}
		}
	}

	.formButton {
		margin-top: 1rem;
		padding-bottom: 2rem;

		button  {
			border: none;
			border-radius: .3rem;
			height: 2.6rem;
			padding: 0 1rem 0;
			font-size: 1rem;
			background:rgb(146, 197, 212);
			color: white;
			width: 90%;
			max-width: 500px;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			margin: auto;

			&.btnActive {
				background:rgb(117, 172, 189);
				cursor: pointer;
			}

			&.btnActive:hover {
				background:rgb(107, 159, 173);
			}

			i {
				margin-left: 10px;
				transform: rotate(-35deg);
				margin-bottom: 10px;
			}
		}

		a {
			margin-top: 1rem;
			font-size: .8rem;
			color: #aaa;
			display: block;
			text-align: center;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.previewModal {
		display: none;
		position: fixed;
		background-color: rgba(0,0,0, 0.5);
		overflow-y: scroll;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99999999;

		&.fadeIn {
			display: block;
			animation-name: fadeIn;
			animation-duration: .5s;
			animation-fill-mode: both;
		}


		
	}
}

.reactModalPortal {
	position: relative;
	z-index: 1000;

	.modalButton {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background: black;
		color: white;
		margin: 1rem auto auto auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.6);

		button {
			padding-top: 3px;
			border: 0;
			background: none;
			color: #aaa;

			&:hover {
				color: #fff;
			}
			
			span {
				display: inline-block;
				font-size: .5rem;
			}
		}
	}

	img {
		width: 90%;
		max-width: 400px;
		box-shadow: 0 0 30px rgba(0,0,0,0.6);

		&.lazyFadeIn {
			animation-name: fadeIn;
			animation-duration: .5s;
			animation-fill-mode: both;
			animation-delay: .2s;
		}
	}
}