.section {
	text-align: center;
    display: flex;
    flex-direction: column;
	justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
    
    > div {

    }
}