.section {
	text-align: center;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
	width: 100%;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    
    > div {

        width: 80%;
        max-width: 450px;
    }

    > div:first-child > div {
        padding: 10px;
        padding-left: 15px;
        background-color: #eee;
        font-size: .9rem;

        ul {
            padding: 0;
            margin: 5px;
            text-align: left;
            list-style-position: inside;

            li {
                padding: 5px;
            }
        }
    }

    > div:nth-child(2) {
        margin-top: 1.5rem;

        > div {
            max-width: 450px;
            margin: auto;

            > button {
                margin-top: .5rem;
                width: 100%;
                height: 44px;
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;

                svg {
                    margin-right: 5px;
                }

                &:hover {
                    opacity: .9;
                }
            }

            > button:first-child {
                background-color: rgba(59, 88, 152, 0.904);
            }

            > button:nth-child(2) {
                background-color: rgba(90, 208, 51, 0.94);
            }
        }
    }
}
