.section {
	background-color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 10rem 0;

	> div {
		display: block;
		text-align: left;
		position: relative;

		> span:last-child {
			position: absolute;
			display: inline-block;
			font-size: 1.3rem;
			font-family: 'Courier New', Courier, monospace;
			letter-spacing: initial;
			text-shadow: none;
			font-weight: normal;
			color: #fff;
			background-color: #ddd;
			padding: 0 .35rem;
			border-radius: .1rem;
			bottom: 9%;
			left: 29%;
		}
	
		.logo {
			display: block;
			font-family: 'designhouseOTFLight00';
			font-size: 5rem;
			font-weight: bold;
			letter-spacing: -.1rem;
			text-shadow: 3px 3px 0 #ddd;
			text-align: left;
			margin: 0;
		}
	}

	.mailcover {
		display: flex;
		text-align: left;
		width: 70vw;
		height: calc(100vw * 0.3);
		background-position: center;
		background-size: cover!important;
		background-position-y: 105%!important;
		background-repeat: no-repeat!important;
		align-content: center;
		justify-content: center;
		justify-items: center;
		align-items: center;
		color: white;
		font-size: 3.5vw;
		text-shadow: 0 0 10px #000;
		margin-top: 10rem;
		letter-spacing: -1px;
		padding: 20px;
		text-align: center;
		word-break: keep-all;
		line-height: 1.5;

		> div {
			margin: 0 3rem;
		}
	}

	.fbcover {
		display: flex;
		text-align: left;
		width: 1200px; //70vw;
		height: 650px;  //calc(100vw * 0.3);
		background-position: center;
		background-size: cover!important;
		background-position-y: 105%!important;
		background-repeat: no-repeat!important;
		align-content: center;
		justify-content: center;
		justify-items: center;
		align-items: center;
		color: white;
		font-size: 8vw; // 3.5vw;
		text-shadow: 0 0 10px #000;
		margin-top: 10rem;
		font-family: 'designhouseOTFLight00';
		font-weight: bold;
		letter-spacing: -1px;
	}
}